rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Para desarrollo local, permitir todo
    match /{document=**} {
      allow read, write: if true;
    }
  }
}