/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Podemos añadir estilos globales personalizados aquí */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}